.profile-content {
    border-top: 1px solid #e1e7ec;
}
.wishlist-table {
    @media screen and (max-width: 576px) {
        text-align: center;
    }
    .product-thumb {
        @media screen and (max-width: 576px) {
            display: table-cell !important
        }
        img {
            width: 110px !important;
            height: auto;
            display: inline !important;
        }
    }

    table {
        @media screen and (max-width: 576px) {
            th:first-child, td:first-child,
            th:last-child, td:last-child {
                display: none !important
            }

            th:nth-child(2), td:nth-child(2) {
                display: none;
            }
        }
    }

    .action-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
            flex: 1;
            @media screen and (max-width: 576px) {
                padding: 20px;
                border: 5px solid $color--five;
                border-radius: 20px;
                color: #fff !important;
                background-color: $color--two;
            }
        }
    }
    // tr {
    //     td:last-child {
    //         a {
    //             margin: 0 25px;
    //         }
    //     }
    // }

    .private-icon {
        width: 20px !important;
        height: 20px !important;
    }
}

.event-details {
    form {
        @media screen and (max-width: 576px) {
            display: block;
        }
        display: inline-block;
    }

    .private-icon {
        width: 30px !important;
        height: 30px !important;
    }
}

.home-container {
    .text-center {
        ul, p {
            @media screen and (max-width: 576px) {
                text-align: left !important;
            }
        }
    }
}

#direccion {
    .btn-search-zip {
        background-color: $color--one !important;
        margin-top:  25px !important;

    }
}

#result-table {
    img {
        width: 50px;
        height: 50px;
    }

    .admin-col {
        background: #aaa !important;
        color: #fff !important;
    }

    .member-image {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }

    .first-place {
        td:first-child {
            background-color: #d4af37 !important;
        }
    }

    .second-place {
        td:first-child {
            background-color: #aaa9ad !important;
        }
    }

    .third-place {
        td:first-child {
            background-color: #CD7F32 !important;
        }
    }

    .first-place, .second-place, .third-place {
        td:first-child {
            font-weight: bold !important;
            color: #fff !important;
        }
        .d-inline  {
            font-weight: bold;
            &.text-success { color: #155724 !important; }
            &.text-warning { color: #856404 !important; }
        }
    }
}

.btn-private {
    background-color: $color--one;
    border-color: $color--one;
    color: #fff;
    &:hover {
        background-color: darken($color--one, 20%) !important;
        color: #fff !important;
    }
}

#resultados {
    .dt-button {
        @extend .btn;
        @extend .btn-success;
    }
}

.filter-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid #e1e7ec;
    background-color: #fff !important;
    z-index: 9999;
    button {
        font-size: 15px;
    }

    .form-group {
        margin-bottom: 0px !important;
        label {
            margin-bottom: 0px !important;
        }

        select {
            width: 250px;
            display: inline-block;
            margin-left: 10px;
            margin: 10px auto;
        }
    }
}

#master-sheet {

    .color-sample {
        width: 25px;
        height: 25px;
        border: 1px solid #000;
    }

    table.dataTable tbody tr.selected {
        background-color: #eee !important;
    }
}

// mobile corrections
@media screen and (max-width: 576px) {
    .site-footer {
            padding-left: 25px;
            padding-right: 25px;
            text-align: center;
            p {
                text-align: justify;
            }
    }

    .flex-wrap {
        .btn-primary {
            width: 100%;
            margin-top: 15px;
        }
    }

    .sp-buttons {
        width: 100%;
    }

    .product-info {
        .text-lg {
            font-size: 12px;
        }
    }

    .product-item {
        text-align: left !important;
    }
    .action-details-mobile {
        display: block !important;
        margin-top: 15px;
        i {
            font-size: 20px !important;
        }


        .action-content {
            a {
                border: 2px solid white !important;
            }
        }
    }
}

// Custom Marco color choices
.site-menu ul > li > a {
    @media all and (max-width: 1200px) {
        font-size: 11.5px !important;
    }
}
.site-menu ul > li > a, p { color: $color--three !important; }
.offcanvas-title { color: $color--two !important; }
.btn-primary:hover { background-color: $color--three !important; }
.site-footer {
    background-color: $color--six !important;
    p, a, li {
        &::before { display: none !important; }
        padding-left: 0px !important;
        list-style: none !important;
        color: $color--seven !important;
    }
}
.widget-title { color: $color--three !important; }

.alert p { color: inherit !important; }

.offcanvas-menu {
    ul {
        li.alt {
            background-color: $color--three !important;
        }
    }
}
.offcanvas-container {
    background-color: $color--seven !important;
}

.modal {
    table {
        text-align: center !important;
        border: 2px solid #e1e7ec !important;
    }
}

.faq-content {
    padding: 0px !important;
    border-color: transparent !important;

    .card-body {
        * {
            color: #7a7a7a !important;
        }
    }
}

.event_price {
    margin-bottom: 15px;
    p {
        margin: 0px !important;
        color: $color--seven !important;
    }
}

.evidence-form {
    // .hour-input {
    //     & + *::before {
    //         content: ":";
    //     }
    // }
    .col-md-4:not(:first-child) {
        &::after {
            content: ":";
            position: absolute;
            font-size: 40px;
            transform: translate(-.5em, -1.5em);
        }
    }

    @media all and(max-width: 587px) {
        .col-md-4 {
            margin-bottom: 15px;
        }
    }
}

#evidence-modal-alt {
    .modal-body {
        @media all and(min-width: 587px) {
            max-height: 420px;
            overflow-y: scroll;
        }
    }
}


.evidence-form-alt {
    .lottery-slot {
        @media all and(max-width: 587px) {
            text-align: center !important;
            margin-bottom: 20px;
            padding-top: 15px;

            &:nth-child(even) {
                background: #eee;
            }
        }
    }
    h5 {
        display: block;
        width: 100%;
        text-align: center;
        color: $color--seven;
    }

    .lottery-card {
        @media all and(min-width: 587px) {
            display: flex;
        }
        margin-bottom: 15px;

        b {
            font-size: 15px;
        }

        .image-holder {
            @media all and(min-width: 587px) {
                padding-left: 15px;
            }
            // &::after{
            //     content:'\A';
            //     position: absolute;
            //     width: 100%;
            //     height: 100%;
            //     top: 0;
            //     left: 0;
            //     background: rgba(0,0,0,0.6);
            //     opacity: 0;
            //     transition: all 0.5s;
            //     -webkit-transition: all 0.5s;
            // }
            //
            // &:hover::after {
            //     opacity:1;
            // }

            img {
                border: 1px solid #dee;
                max-width: 100px;
                cursor: pointer;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    .lottery-content {
        p {
            font-size: 13px;
            font-weight: bold;
            word-break: break-word;
        }

        .action-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 15px;
            font-size: 25px;
        }

        .lottery-answer {
            p {
                color: $color--seven !important;
            }

            i {
                font-size: 25px;
            }
        }

        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;

            input[type="file"] {
                font-size: 10px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                height: 50px;
                cursor: pointer;
            }
        }
    }
}

.event-tabs {
    border: none !important;
    @media all and (max-width: 600px) {
        display: inline-block;
        width: 100%;
    }
    li {
        margin-right: 5px;
        @media all and (max-width: 600px) {
            text-align: center;
        }
        a {
            @extend .btn;
            width: 100%;
            border-color: $color--three;
            background-color: $color--five;
            color: $color--three;
            transition: all 0.5s;

            &.active, &:hover {
                background-color: $color--three;
                color: $color--five;
            }
        }
        @media all and (min-width: 600px) {
            &:last-child {
                right: 0;
                position: absolute;
            }
        }
    }
}

.event-tab-container {
    border: none !important;

    #eventos {
        padding-bottom: 30px;

        .event-element {
            @media all and (max-width: 600px) {
                padding-bottom: 20px;
                margin-top: 20px;
                border-bottom: 1px solid #eee;
            }
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                img {
                    opacity: 0.75;
                }
            }
            p {
                color: #75787a !important;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                margin-top: 20px;
                text-transform: uppercase;
            }
        }
    }
}

#event-detail-modal {
    .event.detail-content {
        max-width: 70%;
        margin: 0 auto;

        p.register {
            text-align: left;
            font-weight: bold;
            color: #00b3ff;
            font-size: 18px;
            margin-top: 10px;
        }

        p.title, p.end_date, p.inscription {
            color: #a800bb !important;
            margin-top: 15px;
            font-size: 20px;
            font-weight: bold;
        }

        .description, .price-detail {
            * {
                font-size: 19px !important;
                color: #75787a !important;
                margin-top: 15px;
                font-weight: bold;
            }
        }
    }
}

// Custom file upload
.file-upload {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: $color--two;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid $color--three;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: $color--three;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed $color--two;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: $color--two;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: $color--three;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

#image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    // padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 99999;
    justify-content: center;
    align-items: center;

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 550px;
    }


    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;.
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }
}

.overlay-video {
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 1;
  -ms-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 999999;
}

.o1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -ms-transition: opacity 600ms ease-out;
  transition: opacity 600ms ease-out;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

.videoWrapperExt {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 982px;
  padding: 0 20px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;

  .close {
      background-image:url(http://djit.ac/assets/images/news/mark.png);
      position: absolute;
      top: -50px;
      right: 0px;
      cursor: pointer;
      z-index: 9999;
      height: 40px;
      width: 40px;
      background-size: 40px;
      @media (max-width: 767px) and (orientation: landscape) {
          display: none;
      }
  }
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* demo purpose */
.start {
text-align:center;font-size:40px;text-decoration:underline;color:blue;text-transform:uppercase;cursor:pointer;}


.hero-slider {
    // desktop version
    margin-bottom: 50px;
}

.home-container {
    hr, br {
        &:last-child {
            display: none;
        }
    }
}

.ac-content {
    * {
        color: rgb(45, 45, 45) !important;
    }
}
