$color--one: rgb(168, 0, 187);
$color--two: rgb(0, 227, 255);
$color--three: rgb(0, 179, 255);
$color--four: rgb(0, 0, 0);
$color--five: rgb(255, 255, 255);
$color--six: rgb(225, 225, 225);
$color--seven: rgb(117, 120, 122);
